<div class="d-flex d-flex--justifyContentCenter">
  <app-toggle-all-favs
    [selectedValue]="searchType"
    (valueChange)="onToggleSearchType($event)"
  ></app-toggle-all-favs>
</div>

<br />

<app-tech-type-select
  *ngIf="searchType === 'all'"
  class="filter__center-media"
  [(selectedTechType)]="selectedTechType"
  (selectedTechTypeChange)="onFilterTechnologyChange()"
></app-tech-type-select>

<!-- List -->
<div
  class="posts-results"
  infiniteScroll
  (scrolled)="onScroll()"
  [scrollWindow]="false"
  [infiniteScrollThrottle]="500"
  [infiniteScrollDistance]="2"
>
  <!-- All -->
  <ng-container *ngIf="searchType === 'all'; else showOnlyFavs">
    <app-post-card
      *ngFor="let post of posts; let i = index"
      [post]="post"
      (postLikedChange)="onPostLikedChange(post)"
    ></app-post-card>


    <div *ngIf="posts.length === 0 && !isLoadingScrolling">
      <h2>No posts were found</h2>
    </div>

  </ng-container>

  <!-- Favs -->
  <ng-template #showOnlyFavs>
    <app-post-card
      *ngFor="let post of postFavList; let i = index"
      [post]="post"
      (postLikedChange)="onPostLikedChange(post)"
    ></app-post-card>

    <div *ngIf="postFavList.length === 0" >
      <h2>No favorite post added</h2>
    </div>

  </ng-template>
</div>


<br />
